* {
  margin: 5px;
  padding: 5px;
}

body {
  background-color: #1e1e1e(255, 255, 240);
  color: black;
  width: 350px;
  font-size: 13px;
}

#changeName {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #4285f4;
  color: white;
  border-radius: 5px;
}
/* Switch  */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#sidethis{
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
#box1{
  position: relative;
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 34px;
}
.share-space {
  display: flex;
  justify-content: end;
  align-items: end;
  border-radius: 10px;
}

body {
  transition: background-color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #333333;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

/* Hadding */

h1 {
  margin: 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Block  */
.block {
  outline: 1px solid lightslategrey;
  margin: 15px 2px;
  padding: 0px;
}

/* Button Div  */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button class */
.btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  border-radius: 20px;
}

/* Like Button  */
.like {
  margin: 1px;
}

/* Blocks  */
#block-1,
#block-2,
#block-3 {
  text-align: center;
  padding-top: 5px;
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#savedContent {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
.content {
  white-space: pre-wrap;
}

.content:before {
  content: "• ";
  display: block;
  float: left;
  margin-left: -15px;
  width: 10px;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.like-button.liked {
  color: #e74c3c;
  /* Red color for liked */
}
#displaySavedContentButton {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

#displaySavedContentButton:hover {
  background-color: #2980b9;
}

.Centrethis {
  display: flex;
  justify-content: center;
  align-items: center;
}

